
<div class="row show-grid">
		  <% @x=0 %>
		  <% @portraits.each do |portrait| %>
						<div class="col-md-1" style="float:left;"> 
		  				<%= link_to image_tag(portrait.attachment_url(:thumb)), portrait.attachment_url %>
			 </div>
			 <% if (@x.modulo(3)) %>
					<% end %>

<% end %>
</div>

